{% extends "header.html" %}

{% block body %}

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#basics" aria-controls="basics" role="tab" data-toggle="tab">Basics</a></li>
    <li role="presentation"><a href="#web-dev" aria-controls="web-dev" role="tab" data-toggle="tab">Web Dev</a></li>
    <li role="presentation"><a href="#data-analysis" aria-controls="data-analysis" role="tab" data-toggle="tab">Data Analysis</a></li>
  </ul>

  <!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="basics">
    <ul>
      {% for t in TOPIC_DICT["Basics"] %}
        <li><a href="{{t[1]}}">{{t[0]}}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="web-dev">Web Dev</div>
  <div role="tabpanel" class="tab-pane fade" id="data-analysis">Data Analysis</div>
</div>

</div>

{% endblock %}